# Carpetas de compilacion completas
bin/
obj/

# Archivos de configuracion y dependencias del IDE
*.depend
*.layout
*cscope*

# Archivos ejecutables sueltos
*.exe
*.out
bin/Debug/ENIGMA.exe
ENIGMA.depend
ENIGMA.layout
